.FormGroup {
/* width: 300px; */
}

form {
    /* width: 300px;  */
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

input{
    /* width: 300px; */
}

.Button{
    width: 300px;
}