.post-container {
    border: 1px solid grey;
    height: auto;
    width: 100%
}


.post-header {
    display: grid;
    grid-template-rows: 12px 12px 12px;
    margin: 20px;

}

.profile {
    border-radius: 50%;
}

.image {
    margin-top: 100px;
}